
@{
    ViewBag.Title = "NewAward";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="text-center">Yeni Sertifika & Ödül Ekle</h2>
<form method="post" class="form-group-lg">

    <label>Sertifika veya Ödül</label>
    <input type="text" class="form-control" name="Award" /><br />

    <button class="btn btn-info">Sertifika veya Ödül Ekle</button>

</form>

