
@{
    ViewBag.Title = "NewSkill";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="text-center">Yeni Yetenek Ekle</h2>
<form method="post" class="form-group-lg">

    <label>Yetenek</label>
    <input type="text" class="form-control" name="Skill" /><br />

    <button class="btn btn-info">Yetenek Ekle</button>

</form>

