
@{
    ViewBag.Title = "NewInterested";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="text-center">Yeni Hobi & İlgi Alanı Ekle</h2>
<form method="post" class="form-group-lg">

    <label>Hobi veya İlgi Alanı</label>
    <input type="text" class="form-control" name="Interested" /><br />

    <button class="btn btn-info">Hobi veya İlgi Alanı Ekle</button>

</form>

