
@{
    ViewBag.Title = "YeniDeneyim";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="text-center">Yeni Deneyim Ekleme</h2>
<form method="post" class="form-group-lg">

    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" /><br />

    <label>Alt Başlık</label>
    <input type="text" class="form-control" name="SubTitle" /><br />

    <label>Tarih</label>
    <input type="text" class="form-control" name="Date" /><br />

    <label>Detay</label>
    <input type="text" class="form-control" name="Detail" /><br />

    <button class="btn btn-info">Deneyim Ekle</button>

</form>

