
@{
    ViewBag.Title = "NewEducation";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="text-center">Yeni Eğitim Ekleme</h2>
<form method="post" class="form-group-lg">

    <label>Okul</label>
    <input type="text" class="form-control" name="University" /><br />

    <label>Alan</label>
    <input type="text" class="form-control" name="Faculty" /><br />

    <label>Bölüm</label>
    <input type="text" class="form-control" name="Branch" /><br />

    <label>Ortalama(GPA)</label>
    <input type="text" class="form-control" name="GPA" /><br />

    <label>Tarih</label>
    <input type="text" class="form-control" name="Date" /><br />

    <button class="btn btn-info">Eğitim Ekle</button>

</form>

